body{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333333;
	margin: 0;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

/* Intro */

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

p{
	margin: 0;
}


.intro{
	background: url(psd/eagle.jpg) center no-repeat;
	width: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro_inner{
	color: white;
	padding-top: 170px;
	text-align: center;
}


/* Container */


.container{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}


.logo{
	color: #ffffff;
	padding: 25px 0px 0px 5px;
	font-size: 30px;
	font-weight: 700;
}
.header{
	width: 100%;
	position: absolute;
}

.menu{
	text-transform: uppercase;
	display: flex;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}

.nav_link{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	transition: color .2s linear;
	margin: 0 30px;
	position: relative;
}

.nav_link::after{
	content: "";
	display: block;
	background-color: #ffcc99;
	width: 100%;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .2S linear;
}
.nav_link:hover{
	color: #ffcc99;	
}

.nav_link:hover:after{
	opacity: 1;
}

.nav_linki{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	transition: color .2s linear;
	margin: 0 30px;
	position: relative;
}

.nav_linki::after{
	content: "";
	display: block;
	background-color: #ffcc99;
	width: 100%;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .2S linear;
}
.nav_linki:hover{
	color: #ffcc99;		
}

.nav_linki:hover:after{
	opacity: 1;
}


.suptitle{
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	font-weight: 400;
}

.title{
	text-transform: uppercase;
	font-size: 150px;
	text-align: center;
	max-width: 880px;
	line-height: 140px;
	margin: 0 auto;
	padding-top: 45px;
}

.title:after{
	content: "";
	display: block;
	width: 60px;
	background-color: #fff;
	height: 3px;
	margin: 62px auto 50px;
}

/*/Batton*/

.btn{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	border: 3px solid #ffff;
	padding: 12px 30px;
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
	transition: color .2s linear;
	margin-bottom: 60px;
}

.btn:hover{
	color: black;
	background-color: #ffcc99;
	border: 3px solid black;
}

/*Sliders*/

.slider{
	text-transform: uppercase;	
}	

.sliders{
	display: flex;
	justify-content: space-between;
}

.liders{
	width: 280px;
	text-align: left;
	cursor: pointer;
	opacity: 0.7;
	position: relative;	
	border-top: 3px solid #fff;
	padding-top: 20px;
	transition: color .2s linear;
}

.slid__txt{
	display: flex;
}

b{
	font-size: 22px;
}




.liders:hover{
	color: black;
	opacity: 1;
}

.liders:before{
	content: "";
	display: block;
	background-color: #ff9999;
	width: 70px;
	height: 3px;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .2s linear;
}
.liders:hover:before{
	opacity: 1;
}

/*Story block*/

.story_inner{
	margin-top: 92px;
}

.ssup{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-align: center;
}
.stit{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 12px;
}

.stit:after{
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #ff9999;
	margin: 36px auto 0;
}

.sttext{
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	max-width: 974px;
	margin: 45px auto 98px;
}

.story_imgs{
	display: flex;
	justify-content: space-between;
}
.iblck{
	width: 380px;
	transition: transform .2s linear;

	background: linear-gradient(to bottom, #ff9999, #ffcc99);

}
.iblck img{
	display: block;
	transition: opacity .2s linear;
}

.iblck img:hover{
	opacity: 0.1;
}

.iblck:hover{
	transform: translate3d(-15px, -25px, 0px);
}

.storycon{
	background-color: #99cccc;
	position: relative;
}

.super{
	width: 100%;
	color: white;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(-4%, -90%, 0);
	opacity: 0;
	transition: opacity .1s linear;
}
.storycon:hover .super{
	opacity: 1;
}


/*Stats*/

.statistics{
	background-color: #99cccc;
	margin-top: 110px;
}

.stats{
	height: 270px;
	display: flex;
}

.statsic{
	width: 20%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding-top: 8%;
	border-left: 1px solid #fff;
}

.statsicf{
	width: 20%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding-top: 8%;
	border-right: 1px solid #fff;
}

.num{
	font-weight: bold;
	font-size: 72px;
}

.w{
	font-weight: 400;
	font-size: 14px;
}


/*Services*/

.serv{
	margin-top: 92px;
}

.serv__description{
	display: flex;
	justify-content: space-evenly;
}


.serv__title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}
.serv__p{
	font-size: 15px;
	line-height: 24px;
	font-family: Roboto ,sans-serif;
	color: #b3b3b3;
}

.serv__item{
	flex: 0 1 290px;
	padding: 60px 0 0;
	position: relative;
}

.serv__png{
	position: absolute;
	left: -52px;
}

.line{
	background-color: #e5e5e5;
	height: 1px;
	border: 0px;
	margin: 60px 0;
}

.serv__description1{
	display: flex;
	justify-content: space-evenly;
}

.serv__item1{
	flex: 0 1 290px;
	position: relative;
}

/*Design*/

.designblck{
	background: url(psd/png/back.png) center no-repeat;
	width: 100%;
	height: 850px;
	margin-top: 120px;
}

.titles{
	padding: 100px 0 0;
}

.imges{
	margin: 7px auto 0;
}

.tab{	
	margin-left: 285px;
	position: relative;
	z-index: 1;
}

.phone{
	position: absolute;
	top: 3050px;
	left: 722px;
	z-index: 3;
}

.works{
	margin-top: 110px;
}


.works__about{
	display: flex;
}

.works__menuitem{
	border: 1px solid #e5e5e5;
	width: 100%;
	margin-left: 25px;
	margin-top: 8px;	
}

.works__menuitem1{
	border: 1px solid #e5e5e5;
	width: 100%;
	margin-left: 25px;	
}

.works__item{
	width: 100%;
}

.works__img{
	width: 100%;
}


.item__title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	align-self: center;
	margin-left: 12px;
}

.for__padding{
	display: flex;
	padding: 17px 0 17px 15px;
	cursor: pointer;
}

.item__text{
	padding:  20px 25px;
	border: 1px solid #e5e5e5;
	display: none;
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #a6a6a6;
}


.txt{
	display: none;
}

.txt:checked+label .item__text{
	display: block;
}


.worx__commentary{
	justify-content: center;
	display: flex;
	margin-top: 160px;
	background-color: #f3f3f3	;
	width: 100%;
	height: 214px;
	align-items: center;
}

.comm__txt{
	width: 835px;
	margin-left: 55px;
	align-self: center;
}

.comm__txt:after{
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #ff9999;
	margin-top: 18px;
}

.comm__png{
	border: 3px solid #99cccc;
	padding: 40px;
}

.comm__txt{
	font-size: 24px;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #a6a6a6;
	position: relative;
}

.comm__avthor{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	position: absolute;
	top: 4554px;
	left: 385px;
}

/*TEAM BLOCK*/

.team{
	margin-top: 145px;
}

.team__cards{
	display: flex;
	justify-content: space-between;
}

.member{
	text-align: center;
}


.mem_back{
	background-color: #99cccc;
	width: 380px;
	height: 470px;
}



.member__name{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	margin-top: 18px;
	width: 380px;
}

.member__profession{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #a6a6a6;
	font-size: 15px;
	line-height: 24px;
	margin-top: 2px;
	width: 380px;
}

.member__ph{
	background: linear-gradient(to bottom, #ff9999, #ffcc99);
	height: 470px;
	transition: transform .1s linear;
	position: relative;
}

.socials{
	display: flex;	
	position: absolute;
	top: 5268px;
	left: 96px;	
	z-index: 10;
	background-color: #fce38a;
	width: 220px;
	height: 55px;
	transition: opacity .1s linear;	
	opacity: 0;
}

.member__ph:hover{
	transform: translate3d(-15px, -25px, 0px);
}

.member__ph:hover ~.socials{
	opacity: .5;
}

.member__ph:hover +.socials, .socials:hover{
	opacity: 1;
}

.member__phf{
	background: linear-gradient(to bottom, #ff9999, #ffcc99);
	height: 470px;
	transition: transform .1s linear;
	position: relative;
}

.socialsf{
	display: flex;
	position: absolute;
	top: 5268px;
	left: 508px;	
	z-index: 3;
	background-color: #fce38a;
	width: 220px;
	height: 55px;
	transition: opacity .1s linear;	
	opacity: 0;
}

.member__phf:hover{
	transform: translate3d(-15px, -25px, 0px);
	opacity: 1;
}

.member__phf:hover ~.socialsf{
	opacity: .5;
}

.member__phf:hover +.socialsf, .socialsf:hover{
	opacity: 1;
}

.member__phs{
	background: linear-gradient(to bottom, #ff9999, #ffcc99);
	height: 470px;
	transition: transform .1s linear;
	position: relative;
}
.socialss{
	display: flex;
	position: absolute;
	top: 5268px;
	left: 920px;	
	z-index: 3;
	background-color: #fce38a;
	width: 220px;
	height: 55px;
	transition: opacity .1s linear;	
	opacity: 0;
}

.member__phs:hover{
	transform: translate3d(-15px, -25px, 0px);
	opacity: 1;
}

.member__phs:hover ~.socialss{
	opacity: .5;
}

.member__phs:hover +.socialss, .socialss:hover{
	opacity: 1;
}

.mem__ph{
	opacity: 1;
}

.mem__ph:hover{
	opacity: 0.1;
	transition: opacity .1s linear;
}

.mem__phf{
	opacity: 1;
}

.mem__phf:hover{
	opacity: 0.1;
	transition: opacity .1s linear;
}

.mem__phs{
	opacity: 1;
}

.mem__phs:hover{
	opacity: .1;
	transition: opacity .1s linear;
}

.i__link{
	color: #f38181;
}

.i__link:hover{
	color: #ffffff;
}

.sw{
	font-size: 30px;
	color: #f38181;
	border-right: 1px solid #f9bd87;
	align-items: center;
	width: 55px;
	padding: 12px 0;
	transition: background-color .1s linear;	
}

.sw:hover{
	background-color: #f38181;
	color: #ffffff;
}

.swf{
	font-size: 30px;
	color: #f38181;
	border-right: 1px solid #f9bd87;
	align-items: center;
	width: 55px;
	padding: 12px 0;
	transition: background-color .1s linear;	
}
	
.swf:hover{
	background-color: #f38181;
	color: #ffffff;
}

.sws{
	font-size: 30px;
	color: #f38181;
	border-right: 1px solid #f9bd87;
	align-items: center;
	width: 55px;
	padding: 12px 0;
	transition: background-color .1s linear;	
}

.sws:hover{
	background-color: #f38181;
	color: #ffffff;
}

.logotypes{
	margin-top: 250px;
}


/*Our  worx*/

.worx__title{
	margin-top: 164px;
}

.ourworx_imgs{
	display: flex;
}


.worx__col{
	flex: 1 1 0;
}

.colm__item{
	position: relative;
	background: linear-gradient(to bottom, #ff9999, #ffcc99);
	height: 390px;
	width: 480px;
}


.worx__info{
	position: absolute;
	top: 42%;
	left: 30%;
	opacity: 0;
	transition: opacity .3s linear;
	color: #fff;
}

.worx__titl{
	font-size: 14px;
	text-transform: uppercase;
}

.worx__txt{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	line-height: 24px;
	margin-top: 12px;
	text-align: center;
}

.worx__icn{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.colm__item:hover .worx__info{
	opacity: 1;
}

.w__img{
	opacity: 1;
	max-width: 100%;
	height: auto;
	transition: opacity .3s linear;
}

.colm__item:hover .w__img{
	opacity: .1;
}

.colm__item5{
	position: relative;
	background: linear-gradient(to bottom, #ff9999, #ffcc99);
	width: 480px;
}


.worx__info5{
	position: absolute;
	top: 40%;
	left: 34%;
	opacity: 0;
	transition: opacity .3s linear;
	color: #fff;
}

.worx__titl5{
	font-size: 14px;
	text-transform: uppercase;
}

.worx__txt5{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	line-height: 24px;
	margin-top: 12px;
	text-align: center;
}

.worx__icn5{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.colm__item5:hover .worx__info5{
	opacity: 1;
}

.w__img5{
	opacity: 1;
	transition: opacity .3s linear;
}

.colm__item5:hover .w__img5{
	opacity: .1;
}



.comm__txtava{
	font-size: 24px;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #a6a6a6;
	width: 800px;
	position: relative;
	text-align: left;
}

.commava__avthor{
	position: absolute;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	top: 7468px;
	left: 422px;
}

.comm__txtava:after{
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #ff9999;
	margin-top: 18px;
}

.comm__pngavatar{
	margin-right: 30px;
}

.worx__commentaryava{
	justify-content: center;
	display: flex;
	margin-top: 95px;
	background-color: #f3f3f3	;
	width: 100%;
	height: 280px;
	align-items: center;
}

/*/*CLIENTS*/

.clients{
	background: url(psd/png/mountains__background.png) center no-repeat;
	margin-top: 125px;
	height: 830px;
}

.clients__title{
	padding-top: 112px;
}

.client__item{
	margin-top: 86px;
	width: 50%;
	padding: 0 45px 0 175px;
	position: relative;
}


.client{
	position: absolute;
	top: 0;
	left: 40px;
}

.client__n{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	position: relative;
}

.client__ph{
	position: absolute;
}

.client__prof{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	line-height: 24px;
	color: #4c4c4c;
	margin-top: 8px;
}

.client__opinion{
	width: 420px;
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #999999;
}

.client__prof:after{
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #ff9999;
	margin-top: 15px;
}

.block , .block2 {
	display: flex;
}

.block2{
	margin-top: 50px;
}

/*LAST BLOCK*/

.last{
	margin-top: 112px;
}

.last__cards{
	display: flex;
	justify-content: space-between;
}

.card__item{
	padding-top: 48px;
	position: relative;
}

.card{
	filter: grayscale(1);
	transition: filter .3s linear;
	cursor: pointer;
}

.card:hover{
	filter: grayscale(0);
}

.card__item:hover .card__title {
	color: red;
	transition: color .2s linear;
}

.card__item:hover .card__info {
	color: red;
	transition: color .3s linear;
}


.callendary{
	position: absolute;
	color: #fff;
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	text-align: center;
	left: -15px;
	top: 208px;
}

.call__num{
	font-weight: bold;
	font-size: 28px;
	padding-top: 10px;
}

.month{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	opacity: 0.7;
}

.card__title{
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 0;
}

.card__info{
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	width: 352px;
}

.last__line{
	background-color: #e5e5e5;
	height: 1px;
	border: 0px;
	margin: 15px 0;
	width: 398px;
}

.card__icons{
	display: flex;
}

.number{
	padding-left: 8px;
	color: #a6a6a6;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.speech{
	padding-left: 18px;
}

.eye , .speech{
	color: #95e1d3;
	font-size: 16px;
}

/*MAP*/

.map{
	background: url(psd/png/last/map.png);
	width: 1920px;
	height: 200px;
	margin-top: 120px;
}

.map__inner{
	width: 1200px;
}

.map__icon{
	color: #f38181;
	font-size: 38px;
	text-align: center;
	padding-top: 42px;
}

.g__maps{
	text-decoration: none;
	color: #f38181;
}

.open{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 8px;
}

.open:after{
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #f38181;
	margin: 22px auto 0;
}

.g__maps:hover{
	color: black;	
	transition: color .1s linear;
	cursor: pointer;
} 

/*FOOTER*/

footer{
	margin-top: 74px;
}

.footer__inner{
	display: flex;
}

.left__block{
	margin-right: 25px;
}

.left__logo{
	font-size: 46px;
	font-weight: bold;
	color: #cccccc;
}

.left__txt{
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	width: 468px;
	margin: 32px 0 42px;
}

.left__followers{
	display: flex;
	font-weight: bold;
	align-items: center;
}

.left__num{
	font-size: 20px;
	margin-right: 4px;
}

.left__line{
	width: 458px;
	float: left;
	background-color: #e5e5e5;
	height: 1px;
	border: 0px;
	margin: 15px 0;
}

.left__links{
	display: flex;
	margin-top: 35px;
}

.left__txtfoll{
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #bdbdbd;
}

.left{
	color: #95e1d3;
	text-decoration: none;
	font-size: 18px;
	margin-right: 14px;
}

.left:hover{
	color: #f38181;
}

.left--first{
	color: #95e1d3;
	text-decoration: none;
	font-size: 18px;
	margin: 0 14px; 
}

.left--first:hover{
	color: #f38181;
}

.left__sub{
	margin-top: 38px;
	display: flex;
	border: 1px solid #e5e5e5;
	width: 408.5px;
}

.email{
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #bdbdbd;
	padding: 16px 28px 12px 22px;
	border: 0;
	outline: none;
	width: 100%;
	
}

.email:hover{
	box-shadow: 2px 2px 8px 3px black;	
	transition: box-shadow .2s linear;
}

.subscribe{
	border: 0;
	text-transform: uppercase;
	background-color: #95e1d3;
	color: #fff;
	font-weight: bold;
	padding: 16px 28px 12px 22px;
	cursor: pointer;
	transition: color .1s linear;
}

.subscribe:hover{
	background-color: #f38181;
	color: black;
	transition: background-color .1s linear;
}

.central__block{
	margin-right: 30px;
}

.central__item{
	display: flex;
	margin-top: 47.2px;
	cursor: pointer;
}

.central__title{
	font-weight: bold;
}

.central__titles{
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	padding-top: 15px;
	width: 240px;
	text-transform: uppercase;
	margin-left: 15px;
}

.central__titles:hover{
	color: #f38181;
	text-decoration: underline;
}

.data{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #b1b1b1;
	line-height: 24px;
	padding-top: 4px;
	font-weight: 400;
	text-transform: none;
}

.inst__imges{
	margin-top: 47.2px;		
}

.wiev__more{
	margin-top: 40px;	
}

.more__photo{
	color: #3f3f3f;
	font-size: 13px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	opacity: 0.7;
	transition: color .1s linear;
	text-decoration: none;	
}

.more__photo:hover{
	color: black;
}

.titles__foots{
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 94px;
}

.titles__foots:before{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #e5e5e5;
	position: absolute;
	top: -20px;
}

.d__author{
	color: black;
	margin-left: 4px;
}

.d__author:hover{
	color: #f38181;
	margin-left: 4px;
}



@media (max-width: 1230px){
	/*MEDIA INTRO*/
	.suptitle{
		font-size: 62px
	}

	.title{
		font-size: 120px
	}

}

@media (max-width: 420px){
	/*MEDIA INTRO*/
	
	.intro{
		height: 480px
	}

	.logo{
		font-size: 18px;
	}

	.nav_link , .nav_linki{
		font-size: 8px;
		margin: 0 4px;
	}

	.suptitle{
		font-size: 25px;
	}

	.title{
		font-size: 28px;
		padding-top: 5px;
		line-height: 30px;
		padding-top: 8px;
	}

	.title:after{
		width: 30px;
		background-color: #fff;
		height: 3px;
		margin: 10px auto 15px;
	}

	.btn{
		font-size: 10px;
		padding: 6px 14px;
	}

	.liders{
		width: 65px;
		display: flex;
	}

	.liders:before{
		width: 25px;
	}

	.slid__txt{
		font-size: 10px;
		padding-top: 2px;
		margin-left: 2px
	}

	b{
		font-size: 12px;
	}
}
 
